* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 18px;
}

:root {
  --min-key-height: 52px;
  --min-key-width: var(--key-height);
  --key-gap: 8px;
  
  display: flex;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: #ECEFF1;
  background-color: #263238;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#root {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.layout {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

h1 {
  font-size: 3rem;
  line-height: 1.6em;
  color: #90A4AE;
}

p {
  line-height: 1.6em;
  color: #ECEFF1;
}

a {
  color: #90A4AE;
}

.app {
  padding: 4rem 0;
}

footer {
  margin-top: auto;
  padding: 2rem;
  text-align: left;
  width: 100vw;
  color: #B0BEC5;
  font-size: 14px;
}